body {
    background:#595959
}

.inner, 
.pagination {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

.site-head {
    position: relative;
    display: table;
    width: 100%;
    height: 60%;
    margin-bottom: 5rem;
    text-align: center;
    color: #fff;
    background: #303538 no-repeat center center;
    background-size: cover;
}

.blog-logo {
    text-decoration: none;
}

/* Yo-logo. Yolo-go. Upload one in ghost/settings/ */
.blog-logo img {
    display: block;
    max-height: 150px;
    width: auto;
    margin: 0 auto;
    line-height: 0;
}
.blog-title {
    margin: 10px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 1px 6px rgba(0,0,0,0.1);
}

.blog-description {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.5em;
    font-weight: 300;
    font-family: 'Noto Serif', serif;
    letter-spacing: 0;
    text-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

#logo{
    -webkit-transition:-webkit-transform 1000ms;
    -moz-transition:-moz-transform 1000ms;
    transition:transform 1000ms;   
}
img.links{
    max-width:40px;
    max-height:40px;
    -webkit-transition:-webkit-transform 400ms;
    -moz-transition:-moz-transform 400ms;
    transition:transform 400ms;
}
img.links:hover{
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    transform:rotate(-30deg);
}
#logo:hover{
    -webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    transform:rotate(-360deg);
}

.main-container {
    background:#cccccc;
}

#real_nav span a:hover,
#real_nav span a:focus {
    color:#222222 !important;
    background:#cccccc !important;
}
