<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title | append: ' - ' |append: site.name }}</title>

	<link rel="stylesheet" href="{{ '/styles/css/index.css'  }}">
	<link rel="stylesheet" href="{{ '/styles/css/fontawesome/css/font-awesome.min.css'  }}">
	<link rel="stylesheet" href="{{ '/styles/css/syntax.css'  }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html',''  }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ '/feed.xml'  }}">
	
	<meta name="keywords" content="{{ page.title | append: ', ' | append: site.name | append: ', ' | append: site.meta_description}}">
	<meta name="description" content="{{site.meta_description}}">

	<script src="{{ '/styles/js/jquery.min.js'  }}"></script>
  	<style type="text/css">
	  	.docs-content{
	  		margin-bottom: 10px;
	  	}
  	</style>
</head>
